[
  {
    "name": "Collaborateur1",
    "preferred_jobs": ["data analyst", "machine learning engineer"],
    "email": "collaborateur1@example.com",
    "notify_via_email": true
  },
  {
    "name": "Collaborateur2",
    "preferred_jobs": ["data scientist", "data engineer"],
    "email": "collaborateur2@example.com",
    "notify_via_email": true
  }
]
